      <!-- Widget Configuration -->
    <script>
        window.ChatWidgetConfig = {
            webhook: {
                url: 'https://ligia-quantummechanical-ida.ngrok-free.dev/webhook/29f85d5d-aae1-4d15-a6e6-a64c85c3cb3c/chat',
                route: 'general'
            },
            branding: {
                logo: 'https://github.com/PBP-B05/venyuk/blob/master/static/images/logo_venyuk.png?raw=true',
                name: 'venyuk', // Your company name
                welcomeText: 'Hi 👋, how can we help?', //Welcome message
                responseTimeText: 'We typically respond right away' //Response time message
            },
            style: {
                primaryColor: '#D84040', //Primary color
                secondaryColor: '#8E1616', //Secondary color
                position: 'right', //Position of the widget (left or right)
                backgroundColor: '#ffffff', //Background color of the chat widget
                fontColor: '#333333' //Text color for messages and interface
            }
        };
    </script>
    <script src="https://cdn.jsdelivr.net/gh/WayneSimpson/n8n-chatbot-template@ba944c3/chat-widget.js"></script>
    <!-- Widget Script -->
    